body {
  color: $gray;
  font-family: $ffText;
  line-height: 1.6;
  background: $white;
  font-size: .875rem;
}

img {
  max-width: 100%;
}

h1, h2, p {
  margin-top: 0;
}

h1 {
  color: $accent;
  line-height: 1;
  font-size: 3.125rem;
}

h2 {
  font-size: 2rem;
}

.welcome {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gray;

  h1 {
    font-size: 3.5rem;
    font-weight: $fwNormal;
    color: $darkBlue;
    line-height: 2;
    text-align: center;

    span {
      font-size: 6.5rem;
      color: $accent;
      letter-spacing: 6.5px;
      display: block;
      transition: all .5s ease-in;
      cursor: pointer;

      &:hover {
        transition: all .5s ease-in;
        color: $offsetOrange;
      }
    }

    &::before,
    &::after {
      content: '';
      width: 80%;
      height: 1px;
      background: $darkBlue;
      display: block;
    }

    &::before {
      margin: 0 auto 1.5em;
    }

    &::after {
      margin: 1.2em auto 0;
    }
  }
}

.intro {
  @extend %container;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2em 0;
  background: $offsetOrange;
  .intro-text {
    height: 100%;
    text-align: center;
    background: $darkBlue;
    padding: 2rem;
    color: rgba($white, .8);

    h2 {
      color: $white;
    }
  }
}

.about-me {
  @extend %container;
  padding: 0 0 4em 0;
  position: relative;
}

.about-title {
  margin-bottom: .25em;
  font-family: $ffHeading;
  color: $accent;
  position: absolute;
  top: 1em;
  right: 3.2em;
  font-size: 3.5rem;
}

.about-subtitle {
  font-size: 2rem;
  letter-spacing: 0.4em;
  margin: .4em 0;
  color: $offsetOrange;
}

.about-text {
  text-align: center;
}

%container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

// .portfolio {
//   text-align: center;
//   background: $lightGray;
//   padding: 5em 0;
//
//   .project-item {
//     position: relative;
//     overflow: hidden;
//
//     figcaption {
//       position: absolute;
//       top: 0;
//       bottom: 0;
//       right: 0;
//       left: 0;
//       background: rgba($accent, .5);
//       color: $white;
//       text-align: left;
//       display: flex;
//       flex-direction: column;
//       justify-content: flex-end;
//     }
//   }
// }


.portfolio {
  @extend %container;
  padding: 5%;
  height: 100vh;
  background: $gray;
}

.projects {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2px;

  .project-item {
    position: relative;
    background: $offsetOrange;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &.small {
      grid-row: span 1;
      grid-column: span 2;
    }

    &.medium {
      grid-row: span 2;
      grid-column: span 2;
    }

    &.large {
      grid-row: span 3;
      grid-column: span ;
    }

    &.half {
      grid-row: span 3;
      grid-column: span 2;
    }

    &.tall {
      grid-row: span 3;
      grid-column: span 2;
    }

    &.wide {
      grid-row: span 2;
      grid-column: span 4;
    }

    .overlay {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: red;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      transition: all .5s ease-in;

      &:hover {
        transition: all .5s ease-in;
        opacity: 1;
      }


      .project-title {
        font-size: 1.55rem;
        position: absolute;
        top: 1rem;
      }

      .project-title,
      .project-desc {
        padding-bottom: 8px;
      }

      .project-desc {
        text-align: center;
        padding: 0.4rem;
      }

      .project-tech {
        margin-left: 5px;
        position: absolute;
        bottom: 0;
        font-size: 1.2rem;
        text-decoration: none;
        color: $accent;
      }
    }
  }
}

@media (max-width: 1300px) {
  .about-me {
    display: block;
    padding: 1em;
    text-align: center;

    .about-title {
      position: initial;
      font-size: 2.9rem;
    }

    .about-subtitle {
      margin: 0 0 5px 0;
      letter-spacing: 0.2em;
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 800px) {
  .welcome {
    h1 {
      font-size: 2rem;

      span {
        font-size: 4.5rem;
      }
    }
  }

  .intro {
    padding: 1rem;
    width: 100%;
    .intro-text {
      padding: 0.5rem;
    }
  }
  .about-me {
    display: block;
    padding: 1em;
    text-align: center;

    .about-title {
      position: initial;
      font-size: 1.9rem;
    }

    .about-subtitle {
      margin: 0 0 5px 0;
      letter-spacing: 0.2em;
      font-size: 1.6rem;
    }
  }
  .portfolio {
    width: 100%;
  }
  .projects {
    display: block;

    .project-item {
      padding: 10px 0;

      .overlay {
        display: block;
        opacity: 1;
        height: 100%;
        width: 100%;
      }
    }
  }
}
