$white: #ffffff;
$lightGray: #e8e9eb;
$gray: #a7a7a7;
$darkGray: #606060;
$accent: #03afc2;
$darkBlue: #223843;

$ffHeading: 'Alegreya Sans SC', sans-serif;
$ffText: 'Overpass', sans-serif;

$fwNormal: 400;
$fwBold: 900;

@mixin sans-serif($fs, $ls: .3em, $color: $darkGray, $tt: uppercase, $lh: 1) {
  font-size: $fs;
  letter-spacing: $ls;
  color: $color;
  text-transform: $tt;
  line-height: $lh;
  font-family: $ffHeading;
}
