@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400|Overpass:300,400');

@import "vars";
@import "modules/reset";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import "modules/content-area";
